@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato";
  scroll-behavior: smooth;
}

form input,
form textarea,
form button {
  font-family: "Lato";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
